<PMD2>
  <ASMPatchesConstants>
    <Patches>
      <Game id="EoS_NA" id2="EoS_EU">
        <Patch id="FasterFlushMode4" >
          <OpenBin filepath="arm9.bin">
            <Include filename ="faster_flush_mode_4.asm"/>
          </OpenBin>
        </Patch>
      </Game>
    </Patches>
  </ASMPatchesConstants>
</PMD2>

